h1 {
	font-size: 28px;
	font-family: 'Raleway', sans-serif;
	color: #4c5775;
	line-height: 1.15em;
    margin: 20px 0;
    text-align: center;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
}
a:link{
    color: blue;
    text-decoration: none;
}

a:visited{
    color: red;
}

a:hover {
    font-weight: bold; 
}

a:active {
    text-decoration: none;
    color: purple;
}

body {
    background-image: url("Images/background pattern.jpg");
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: inline-block;
}

label {
    vertical-align: middle;
    text-decoration-style: bold;
}
th, td {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 15px;
    border-top: 0;
}
.table{
    display: inline-table;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
}
#tableStyle{
    color:black;
}

tbody{
    color: black;
}
.item{
    color: white;
}
input{
    padding-left: 35px;
}
button{
    align-content: center;
    
}
img{
    height: 900px;
    width: 900px;
    border: 1px solid black;
    border-radius: 3px;
}
.carousel-caption{
top: 0;
bottom: auto;
}
#menuItem{
    height: 150px;
    width: 175px;
}
#drink{
    height: 700px;
}
header img {
    float:left;
    width: 200px;
    height: 75px;
 }
    
header {
	min-height: 50px;
	padding: 5px;
        overflow:hidden;
    background-color: black;
}

/* -------------- NAVIGATION  ----------- */

header nav {
    float:left;
    margin-top:50px;
    }
li{
    display: inline;
    padding: 10px;
}

